.git
.gradle
.vscode
.env
*.iml
.iml
build
buildStorybook
storybook-static
buildGitbook
tmp
node_modules
node
coverage
jest-test-results.json
yarn.lock
npm-debug.log
yarn-error.log
logs
*.log
dist
.idea
/*.iml
/lint-report.html

